<div class="container">
    <div>
        <form [formGroup]='loginForm' (ngSubmit)="loginUser()">
            <div class="form-group">
                <h1>Login</h1>
                <label for="name">Email</label>
                <input type="email" class="form-control" formControlName="email">
                <div class="alert alert-danger" *ngIf="email&& email.invalid && email.touched">
                    Email is not valid
                </div>
            </div><br>
            <div class="form-group">
                <label for="name">Password</label>
                <input type="password" class="form-control" formControlName="password">
                <div class="alert alert-danger" *ngIf="password && password.invalid && password.touched">
                    Password can't be empty
                </div>
            </div><br>

            <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Submit</button><br>
            You are not a hero master? Let's <button style="padding: 8px;" class="btn btn-success" routerLink="/register">register</button>
        </form>
    </div>
</div>